<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="apiurl" value="http://scm.scmacewill.cn:8878/logistics/api/basicapi.php"/>
    <add key="starttime" value="1900-01-01 11:00:00"/><!--同步起始日期时间,格式:yyyy-MM-dd HH:mm:ss,格式错误或者不写将取当前时间-->

    <!--add brand info-->
    <add key="brand_table" value ="brand_default"/><!--创建品牌表-->
    <add key="brand_name" value="耨耨" /><!--品牌名称-->
    <add key="brand_status" value="1" /><!--状态 1:有效 0:无效-->
    <add key="brand_subject" value="nn" /><!--编码-->
    <add key="brand_posid" value="11" /><!--主键id,一般是数字-->
    <add key="brand_seq" value="1"/><!--顺序-->
    <add key="memo" value="随便写吧"/><!--备注-->

    <!--add area info-->
    <add key="area_table" value="area_default"/><!--创建区域表-->
    <add key="area_name" value="福州大区" /><!--区域名称-->
    <add key="area_faid" value="-1"/><!--父级区域,默认写-1-->
    <add key="area_seq" value="1"/><!--顺序-->
    <add key="area_level" value="1" /><!--区域层级-->
    <add key="area_status" value="1" /><!--状态 1:有效 0:无效-->
    <add key="area_subject" value="fzdq" /><!--编码-->
    <add key="area_posid" value="98765" /><!--主键ID,一般是数字-->

    <!--add dept info-->
    <add key="dept_table" value="dept_default"/><!--创建部门表-->
    <add key="dept_name" value="部门1" /><!--部门名称-->
    <add key="dept_alias" value="别名1" /><!--部门别名-->
    <add key="dept_status" value="1" /><!--状态 1:有效 0:无效-->
    <add key="dept_sequence" value="2" /><!--部门顺序-->
    <add key="dept_subject" value="bm1" /><!--编码-->
    <add key="dept_brand" value="11" /><!--品牌id-->
    <add key="dept_sid" value="100"/><!--门店id-->
    <add key="dept_posid" value="1236" /><!--主键id,一般是数字-->

  </appSettings>
  <connectionStrings>
    <add name="sqlserver_connectionstring" connectionString="server=127.0.0.1;database=sscy;user=sa;pwd=123456" />
  </connectionStrings>
</configuration>