<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="apiurl" value="http://scm.scmacewill.cn:8899/logistics/api/basicapi.php"/>

    <!--add brand info-->
    <add key="brand_table" value ="brand_default"/><!--创建品牌表-->
    <add key="brand_name" value="brand_default" /><!--品牌名称-->
    <add key="brand_status" value="1" /><!--状态 1:有效 0:无效-->
    <add key="brand_subject" value="123" /><!--编码-->
    <add key="brand_posid" value="123" /><!--pos id-->

    <!--add area info-->
    <add key="area_table" value="area_default"/><!--创建区域表-->
    <add key="area_name" value="area_default" /><!--区域名称-->
    <add key="area_faid" value="1"/><!--父级区域-->
    <add key="area_level" value="1" /><!--区域层级-->
    <add key="area_status" value="1" /><!--状态 1:有效 0:无效-->
    <add key="area_subject" value="1236" /><!--编码-->
    <add key="area_posid" value="1236" /><!--pos id-->

    <!--add dept info-->
    <add key="dept_table" value="dept_default"/><!--创建部门表-->
    <add key="dept_name" value="dept_default" /><!--部门名称-->
    <add key="dept_alias" value="dept_alias" /><!--部门别名-->
    <add key="dept_status" value="1" /><!--状态 1:有效 0:无效-->
    <add key="dept_sequence" value="123" /><!--部门顺序-->
    <add key="dept_subject" value="1236" /><!--编码-->
    <add key="dept_brand" value="1236" /><!--品牌-->
    <add key="dept_posid" value="1236" /><!--pos id-->

  </appSettings>
  <connectionStrings>
    <!-- add name="mysql" connectionString="server=127.0.0.1;database=helpcenter;uid=root;pwd=123456;charset='utf8';SslMode=None;Allow User Variables=True" /-->
    <add name="mysql_connectionstring" connectionString="server=127.0.0.1;database=wiseposdb;uid=root;pwd=123456;Allow User Variables=True" />
    <add name="sqlserver_connectionstring" connectionString="server=localhost;database=testdbl;user=root;pwd=1234567" />
  </connectionStrings>
</configuration>